<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ConnectionString" value="Data Source=.\SQLEXPRESS;Initial Catalog=CARWASH;User ID=sa;Password=dev"/>
    <add key="Company" value="CAR WASH SYSTEM"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>