<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="CW.MAIN.Properties.Settings.CARWASHConnectionString"
      connectionString="Data Source=MIS-0008\SQL2017;Initial Catalog=CARWASH;User ID=sa;Password=dev"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="ConnectionString" value="Data Source=.\SQL2017;Initial Catalog=CARWASH;User ID=sa;Password=dev"/>
    <add key="Company" value="CAR WAS SYSTEM"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>